<div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form"> </div>
            </div>
            <div class="col-md-4">
            <h4 *ngIf="userHistory.length > 0">Past Searches </h4>
           
            <div *ngIf="userHistory.length > 0">
                     <ul *ngFor="let arr of userHistory">
                         <li >
                                <a class="navbar-brand" target="_blank" href="https://github.com/{{arr}}">{{arr}}</a>
                         </li>
                    </ul>  
            </div>
            </div>
            <div class="col-md-4"> <button  *ngIf="userHistory.length > 0" type="button"  class="btn btn-success" (click)="ClearHistory()">Clear history</button> </div>
        </div>
</div>




      
 