<div class="jumbotron text-center">
  <br>
    <h1>Git User Profile Search</h1>
    <p> - Nikhil Jadhav -</p> 
    <a 
    routerLink="/user/profile">
    <p class="text-center">User Search</p>
</a>
<a 
routerLink="user/history">
<p class="custom_font text-center">History</p>
</a>
    <!-- <div class="row" >
            <div class="col-md-">
              <div class="md-form">
                <input  type="text" class="form-control">
                <label>Attribute Name</label>
              </div>
            </div>
            </div> -->
  </div>

<router-outlet></router-outlet>